<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="EtradeContext"
     connectionString="server=DESKTOP-ET2MV41;
              initial catalog=ETrade;
              integrated security=true"
     providerName="System.Data.SqlClient"/>
  </connectionStrings>


</configuration>